<div *ngIf="trip$ | async as trip">
  <section class="heading">
    <h1>{{trip.name}}</h1>
    <h2>{{trip.startDate}} ~ {{trip.endDate}}</h2>
  </section>
  <section>
    <span>Travelers: </span><span *ngFor="let member of trip.members">{{member}}, </span>
  </section>
  <section>
    <app-itinerary [activities]="trip.activities" [startDate]="trip.startDate" [endDate]="trip.endDate"></app-itinerary>
  </section>
  <!-- <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{trip.startDate}} ~ {{trip.endDate}}
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>Hotels</p>

    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            Hotel 1
          </mat-card-content>
          
          <mat-card-actions>
            <button>
              <mat-icon>thumb_down</mat-icon>
            </button>
            <button>
              <mat-icon>thumb_up</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
  </mat-accordion> -->
</div>
