$mat-base-color: white;

.removeUsers {
  display: block;
  align-items: center;
  justify-content: center;
  .add-button {
    margin-bottom: 10px;
  }
}

mat-label {
  color: $mat-base-color;
}

div {
  margin-left: 30px;
}


