<mat-toolbar>
  <span routerLink="/trip">Travalign - plan great trips together</span>
  <div *ngIf="user$ | async; then profile else login"></div>
</mat-toolbar>

<ng-template #profile>
  <div class="profile" *ngIf="user$ | async as user">
    <h3>Welcome, {{user.displayName}}</h3>
      <img class="avatar" [src]="user.photoURL">
  </div>
</ng-template>

<ng-template #login>
  <button type="button" (click)="logIn()">Log in</button>
</ng-template>


<div *ngIf="user$ async" class="router-outlet">
  <!-- <app-trips></app-trips> -->
  <!-- <nav>
    <a routerLink="/trip">Trip</a>
    <br>
    <a routerLink="/trip/detail">Detail 1</a>
  </nav> -->
  <router-outlet></router-outlet>
</div>
