<div class="container">

  <div class="placeholder">
    <div class="trips-list">
      <label class='title-label'>Your Trips</label>

      <div *ngFor="let trip of trips" class="trip-routerlink">
        <mat-card routerLink="/trip/detail/{{trip.id}}">
          <mat-card-title>{{trip.name}}</mat-card-title>
          <mat-card-subtitle>{{trip.startDate}} ~ {{trip.endDate}}</mat-card-subtitle>
          <mat-card-content *ngIf="trip.members">
            <mat-icon>group</mat-icon>
            {{trip.members.join(', ')}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <button mat-fab color="accent" (click)=clickAdd() class="add-button">
    <mat-icon aria-hidden="false">add</mat-icon>
  </button>
  
  <form *ngIf="showForm" [formGroup]="createTripForm" (ngSubmit)="onCreateTrip(createTripForm.value)">
    <mat-card>
      <mat-card-title>Start new Trip</mat-card-title>
      <mat-card-content class="form-container">
          <mat-form-field>
            <mat-label>Trip Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="startDate" required>
              <input matEndDate placeholder="End date" formControlName="endDate" required>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Add members</mat-label>
            <mat-select formControlName="members" multiple>
              <mat-option *ngFor="let friend of friends" [value]="friend">{{friend}}</mat-option>
            </mat-select>
          </mat-form-field>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Create Trip</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
